<div class="modal-header">
    <div class="col md-12">
        <div class="row">
            <div class="col">
                <h4 class="modal-title mt-1 mr-4">{% if customer.client_id %}Edit customer #{{ customer.client_id }}{% else %}Add customer{% endif %}</h4>
                <small><a class="text-muted">{% if customer.client_uuid %}#{{ customer.client_uuid }}{% endif %}</a></small>
            </div>
            {% include 'modals/modal_attributes_nav.html' %}
            <div class="col ">
                <div class="row float-right">
                    <button type="button" class="pull-right btn bg-transparent" data-dismiss="modal" aria-label="Close"><span
                    aria-hidden="true"><i class="fa fa-times"></i></span></button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-body">
    <div role="tabpanel">
          <div class="tab-content">
                <div class="tab-pane active" id="details">
                    <div class="container col-md-12">
                        <form method="post" action="" id="form_new_customer" enctype="multipart/form-data">
                            <div class="col-md-12 col-lg-12 col-sm-12">
                                {{ form.hidden_tag() }}
                                <div class="form-group">
                                    <label for="customer" class="mr-4">Name *</label>
                                    {{ form.customer_name(class='form-control',  autocomplete="off") }}
                                </div>
                                <div class="form-group">
                                    <label for="description" class="mr-4">Description</label>
                                    {{ form.customer_description(class='form-control',  autocomplete="off") }}
                                </div>
                                <div class="form-group">
                                    <label for="sla" class="mr-4">SLAs</label>
                                    {{ form.customer_sla(class='form-control',  autocomplete="off") }}
                                </div>
                                {# iris-next: DHS CIIP sector picker. New cases for this customer
                                   inherit these sectors as `dhs-ciip-sectors:DHS-critical-sectors="…"`
                                   tags. Multi-select because some customers operate in multiple sectors
                                   (e.g. DIB + IT). Bound to a hidden customer_dhs_sectors form input
                                   that the existing serializeObject() picks up. #}
                                <div class="form-group">
                                    <label class="mr-4 d-flex align-items-center" style="gap: 8px;">
                                        <span>DHS CIIP sector(s)</span>
                                        <span class="text-muted small">inherited by new cases for this customer</span>
                                    </label>
                                    <select id="iris-cust-ciip" class="form-control" multiple
                                            title="Pick zero or more sectors"
                                            onchange="iris_cust_refresh_sectors();">
                                        <option value="chemical">Chemical</option>
                                        <option value="commercial-facilities">Commercial Facilities</option>
                                        <option value="communications">Communications</option>
                                        <option value="critical-manufacturing">Critical Manufacturing</option>
                                        <option value="dams">Dams</option>
                                        <option value="dib">Defense Industrial Base</option>
                                        <option value="emergency-services">Emergency Services</option>
                                        <option value="energy">Energy</option>
                                        <option value="financial-services">Financial Services</option>
                                        <option value="food-agriculture">Food &amp; Agriculture</option>
                                        <option value="government-facilities">Government Facilities</option>
                                        <option value="healthcare-public">Healthcare &amp; Public Health</option>
                                        <option value="it">Information Technology</option>
                                        <option value="nuclear">Nuclear</option>
                                        <option value="transport">Transportation Systems</option>
                                        <option value="water">Water Systems</option>
                                    </select>
                                    {{ form.customer_dhs_sectors(type='hidden', id='customer_dhs_sectors') }}
                                </div>
                            </div>
                        </form>
                        <script>
                            // Pre-select sectors from the existing customer record (if editing).
                            (function () {
                                const preset = ({{ (customer.dhs_sectors if customer and customer.dhs_sectors else '') | tojson }})
                                    .split(',').map(s => s.trim()).filter(Boolean);
                                if (preset.length) {
                                    $('#iris-cust-ciip').val(preset);
                                    $('#customer_dhs_sectors').val(preset.join(','));
                                }
                                $('#iris-cust-ciip').selectpicker({
                                    liveSearch: true,
                                    title: 'Pick sectors',
                                    style: 'btn-outline-white',
                                    size: 8,
                                    selectedTextFormat: 'count > 2',
                                });
                            })();

                            function iris_cust_refresh_sectors() {
                                const values = $('#iris-cust-ciip').val() || [];
                                $('#customer_dhs_sectors').val(values.join(','));
                            }
                        </script>
                    </div>
                </div>
                {% include 'modals/modal_attributes_tabs.html' %}
          </div>
            {% if customer.client_id %}
            <button
                    type="button"
                    class="btn btn-outline-danger mt-5"
                    onclick="delete_customer('{{ customer.client_id }}');"
            >
                Delete
            </button>
            <button
                    type="button"
                    class="btn btn-outline-success ml-4 mt-5 float-right"
                    id="submit_new_customer"
            >
                Update
            </button>

        {% else %}

            <button
                    type="button"
                    class="btn btn-outline-success ml-4 mt-5 float-right"
                    id="submit_new_customer"
            >
                Save
            </button>

        {% endif %}
    </div>
</div>
